---
// Component Imports
import { type CollectionEntry, getCollection } from "astro:content";

// Layout Imports
import BaseLayout from "../../layouts/BaseLayout.astro";

interface Props {
	entry: CollectionEntry<"works">;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
	const works = await getCollection("works");
	return works.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
	<h2>{entry.data.title}</h2>
	<main class="wrapper">
		<div class="mx-4 shadow-2xl p-8">
			<div
				class="float-right pr-6 prose-figure:image-full prose-figure:mr-6"
			>
				<div
					class="relative aspect-w-4 aspect-h-5 sm:aspect-w-16 sm:aspect-h-9 w-full sm:w-72 lg:w-[32rem]"
				>
					{
						entry.data.img && (
							<>
								<figure>
									<img
										src={entry.data.img}
										alt={entry.data.img_alt || ""}
										class="float-start mb-4"
									/>
									<figcaption>
										{entry.data.img_figcaption || ""}
									</figcaption>
								</figure>
							</>
						)
					}
				</div>
			</div>
			<div>
				<Content />
			</div>
		</div>
	</main>
</BaseLayout>
