---
// Component Imports
import Button from "../components/Button.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<h1 class="text-center">About</h1>
	<p class="prose-stone">Lorem ipsum dolor sit amet <a href="#">consectetur adipisicing</a> elit. Maxime expedita deserunt nihil sunt voluptas sint enim maiores numquam vel. Repellat, eius. Dolores reiciendis explicabo accusamus fugiat corporis iure sunt reprehenderit.</p>
	<p>Lorem ipsum dolor sit amet <a href="#">consectetur adipisicing</a> elit. Maxime expedita deserunt nihil sunt voluptas sint enim maiores numquam vel. Repellat, eius. Dolores reiciendis explicabo accusamus fugiat corporis iure sunt reprehenderit.</p>
	<div class="grid place-items-center h-screen content-center">
		<Button>Tailwind Button in Astro!</Button>
		<button class="btn">About</button>
		<a href="/markdown-page" class="btn btn-primary"> Link markdown</a>
		<a href="/markdown-page" class="p-4 underline"
			>Markdown is also supported...</a
		>
	</div>
</BaseLayout>
