---
// Component Imports
import Button from "../components/Button.astro";

// Layout Imports
import BaseLayout from "../layouts/BaseLayout.astro";

let title = "About";
let description = "About M.Nyorba";
---

<BaseLayout title={title} description={description}>
	<h1 class="text-center">About</h1>
	<p class="prose-stone">
	
		Я, студент Ужгородського національного університету, Ньорба Михайло Михайлович, у процесі написання курсової роботи впроваджував три іноваційні технології, що робило процес дослідження та представлення матеріалу більш сучасним та ефективним.

	<h2>1. Astro:</h2>
	Для створення курсової роботи використовував технологію Astro, яка надає можливість створення швидких та ефективних веб-сайтів. Це дозволяє досягти оптимальної продуктивності та швидкості завантаження веб-сторінок.

	<h3>2. Markdown:</h3>
	В процесі написання використовував Markdown для форматування тексту. Це легке та зручне засіб створення структурованих документів, що полегшує виведення текстової інформації в зручний та естетичний спосіб.
		
	<h4>3. GitHub:</h4>
	Для забезпечення версійного контролю та спільної роботи використовував платформу GitHub. Це дозволяє зберігати та відслідковувати зміни у процесі написання роботи, а також забезпечує комфортну співпрацю з іншими учасниками.

	<p style="font-weight: bold;"> У своїй роботі використовував також кілька мов програмування:</p>	
	<p>
	<br>1. Astro:
	Інтегрував Astro для створення динамічних компонентів та забезпечення високої продуктивності веб-сторінок.		
	<br>2. TypeScript та JavaScript:
	Використовував TypeScript та JavaScript для програмування функціональності, що взаємодіє з користувачем, та для реалізації додаткових можливостей на веб-сторінці.
	<br>3. CSS:
	Написання та оформлення стилів веб-сторінки виконував за допомогою мови CSS, забезпечуючи естетичний вигляд та коректне відображення контенту.
	Ці технології та мови програмування взаємодіяли між собою, створюючи інноваційне та технічно продумане рішення для представлення курсової роботи.
	</p>
	<div class="grid place-items-center h-screen content-center">
		<Button>Tailwind Button in Astro!</Button>
		<button class="btn">About</button>
		<a href="/markdown-page" class="btn btn-primary"> Link markdown</a>
		<a href="/markdown-page" class="p-4 underline"
			>Markdown is also supported...</a
		>
	</div>
</BaseLayout>
