---
// Component Imports
import Button from "../components/Button.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div class="hero min-h-10 1min-h-screen bg-base-200 shadow-xl">
		<div class="hero-content flex-col lg:flex-row-reverse">
			<img
				src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
				class="max-w-sm rounded-lg shadow-2xl"
			/>
			<div>
				<h1 class="text-5xl font-bold">Box Office News!</h1>
				<p class="py-6">
					Provident cupiditate voluptatem et in. Quaerat fugiat ut
					assumenda excepturi exercitationem quasi. In deleniti eaque
					aut repudiandae et a id nisi.
				</p>
				<button class="btn btn-primary">Get Started</button>
			</div>
		</div>
	</div>
	<div class="grid place-items-center h-screen1 content-center1">
		<Button>Tailwind Button in Astro!</Button>
		<button class="btn">Button</button>
		<button class="btn btn-neutral">Neutral</button>
		<button class="btn btn-primary">Primary</button>
		<button class="btn btn-secondary">Secondary</button>
		<button class="btn btn-accent">Accent</button>
		<button class="btn btn-ghost">Ghost</button>
		<button class="btn btn-link">Link</button>
		<a href="/markdown-page" class="btn btn-primary"> Link markdown</a>
		<a href="/markdown-page" class="p-4 underline"
			>Markdown is also supported...</a
		>
	</div>
</BaseLayout>
