---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import { Debug } from "astro:components";
const sum = (a: number, b: number) => a + b;
const answer = sum(2, 4);

interface Props {
	works: CollectionEntry<"works">;
}

// const allWorks = await getCollection("works");
// const { data, slug } = Astro.props.works;

const allWorks = (await getCollection("works"))
	.filter((f) => f.data.draft != true)
	.sort(
		(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
	);

// const allWorks = allWorks.filter(f=> f.data.draft != true).sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());

// const { works } = Astro.props.works;
// const { Content } = await works.render();
---

<BaseLayout>
	<h1 class="text-center">Works</h1>
	<div
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:col-span-4 gap-4"
	>
		{
			allWorks.map((allWorks) => (
				<>
					<div>
						<span class="h-2">{allWorks.data.tags.join(", ")}</span>
						<a class="card" href={`/works/${allWorks.slug}`}>
							<span class="h2">{allWorks.data.title}</span>
							<img
								src={allWorks.data.img}
								alt={allWorks.data.img_alt || ""}
								loading="lazy"
								decoding="async"
							/>
						</a>
					</div>
				</>
			))
		}
	</div>
	<div class="grid grid-cols-4 gap-4">
		{allWorks.map((allWorks) => <div>{allWorks.data.title}</div>)}
	</div>
</BaseLayout>
