---
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
// Component Imports
import { Icon } from "astro-icon/components";

// Import global styles
import "../global.css";

//Import header settings
import { footerSettings } from "../config";
import { navItemsFooter } from "../config";

let currentYear = new Date().getFullYear();
let years = String(footerSettings.year);

if (footerSettings.year < currentYear) {
	years = years + "-" + String(currentYear);
}
---

<div class="footer container mx-auto mt-auto p-10">
	<aside class="items-center grid-flow-col">
		<a href="/">
			<img
				src="../images/uznu-logo.png"
				class="w-20"
				alt="Ужгородський національний університет"
			/>
		</a>
		<p class="prose-base">
			Ужгородський національний університет <br />
			«Комп’ютерна та бізнес математика»
		</p>
	</aside>
	<nav>
		<h4 class="footer-title">Меню</h4>
		{
			navItemsFooter.map(({ label, href }) => (
				<a
					aria-current={Astro.url.pathname === href}
					class:list={[
						"link link-hover",
						{
							active:
								Astro.url.pathname === href ||
								(href !== "/" &&
									Astro.url.pathname.startsWith(href)),
						},
					]}
					href={href}
				>
					{label}
				</a>
			))
		}
	</nav>
	<nav>
		<h4 class="footer-title">Social</h4>
		<div class="grid grid-flow-col gap-4">
			<a href="https://github.com/NorbaMykhailo" target="_blank">
				<Icon name="logos/github" class="w-8 h-auto" />
			</a>
		</div>
	</nav>
</div>
<div>
	<p class="prose-sm text-center">
		Copyright © {years}. All right reserved by ACME Industries Ltd
	</p>
</div>

<style>
	.link.active {
		text-decoration: underline;
	}
</style>
