---
// Import global styles
import "../global.css";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title = "Title Site", description = "Site Description" } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="description" property="og:description" content={description} />
<!-- <link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
	integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
	crossorigin="anonymous"
/> -->
<!-- Katex -->
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
	integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
	crossorigin="anonymous"
/>
<title>{title}</title>
