---
import { navItems } from "../config.ts";
---

<nav class="navbar bg-base-100">
	<div class="navbar-start">
		<div class="dropdown">
			<div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					><path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h8m-8 6h16"></path></svg
				>
			</div>
			<ul
				tabindex="0"
				class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
			>
				{
					navItems.map(({ label, href }) => (
						<li>
							<a
								aria-current={Astro.url.pathname === href}
								class:list={[
									"link",
									{
										active:
											Astro.url.pathname === href ||
											(href !== "/" &&
												Astro.url.pathname.startsWith(
													href,
												)),
									},
								]}
								href={href}
							>
								{label}
							</a>
						</li>
					))
				}
				<li>
					<a>Parent</a>
					<ul class="p-2">
						<li><a>Submenu 1</a></li>
						<li><a>Submenu 2</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<a href="/" class="btn btn-ghost text-xl">M. Njorba</a>
	</div>
	<div class="navbar-center hidden lg:flex">
		<ul class="menu menu-horizontal px-1">
			{
				navItems.map(({ label, href }) => (
					<li>
						<a
							aria-current={Astro.url.pathname === href}
							class:list={[
								"link",
								{
									active:
										Astro.url.pathname === href ||
										(href !== "/" &&
											Astro.url.pathname.startsWith(
												href,
											)),
								},
							]}
							href={href}
						>
							{label}
						</a>
					</li>
				))
			}
			<li>
				<details>
					<summary>Parent</summary>
					<ul class="p-2">
						<li><a>Submenu 1</a></li>
						<li><a>Submenu 2</a></li>
					</ul>
				</details>
			</li>
		</ul>
	</div>
	<div class="navbar-end">
		<label class="flex cursor-pointer gap-2">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="20"
				height="20"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				><circle cx="12" cy="12" r="5"></circle><path
					d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"
				></path></svg
			>
			<input
				type="checkbox"
				value="dark"
				class="toggle theme-controller"
			/>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="20"
				height="20"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
				></path></svg
			>
		</label>
	</div>
</nav>

<style>
	a {
		text-decoration: none;
	}
</style>
