---

---

<section class="container mx-auto py-16">
	<div class="flex columns-3 gap-8">
		<div
			class="card w-full bg-base-100 shadow-xl 1bg-gradient-to-r from-orange-300 to-orange-400"
		>
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill-rule="evenodd"
					clip-rule="evenodd"
					width="19.22"
					height="24"
					viewBox="0 0 410 512.32"
					stroke="currentColor"
					class="fill-current w-12 h-auto"
					><path
						d="M0 335.49s69.19-33.61 138.56-33.61l52.31-161.48c1.96-7.81 7.68-13.12 14.13-13.12 6.46 0 12.17 5.31 14.13 13.12l52.31 161.48c82.17 0 138.56 33.61 138.56 33.61S292.49 16.16 292.26 15.52C288.88 6.08 283.19 0 275.51 0H134.5c-7.68 0-13.14 6.08-16.74 15.52C117.5 16.15 0 335.49 0 335.49zm127.25 94.89c-25.3-22.82-32.69-70.78-22.15-105.52 18.28 21.9 43.6 28.84 69.84 32.76 40.49 6.04 80.27 3.78 117.89-14.48 4.3-2.09 8.28-4.87 12.98-7.69 3.53 10.1 4.45 20.31 3.22 30.69-3 25.29-15.76 44.83-36.04 59.64-8.11 5.92-16.69 11.21-25.07 16.8-25.74 17.16-32.7 37.29-23.03 66.57.23.71.43 1.43.95 3.17-13.14-5.81-22.74-14.26-30.05-25.37-7.72-11.72-11.4-24.69-11.59-38.73-.1-6.83-.1-13.72-1.03-20.45-2.27-16.42-10.08-23.77-24.79-24.19-15.1-.43-27.05 8.78-30.21 23.28-.25 1.12-.6 2.21-.95 3.51l.03.01z"
					></path></svg
				>
				<h2 class="mt-6">Astro</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					<strong>веб-фреймворк</strong> який підтримує найшвидші у світі
					веб-сайти, веб-програми на стороні клієнта, динамічні кінцеві
					точки API та все між ними
				</p>
			</div>
		</div>
		<div
			class="card w-full bg-base-100 shadow-xl 1bg-gradient-to-r from-sky-300 to-sky-400"
		>
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-markdown-fill fill-current w-12 h-auto"
					viewBox="0 0 16 16"
				>
					<path
						d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 1a.5.5 0 0 0-.5.5v3.793L9.854 8.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L12 9.293V5.5a.5.5 0 0 0-.5-.5M3.56 7.01h.056l1.428 3.239h.774l1.42-3.24h.056V11h1.073V5.001h-1.2l-1.71 3.894h-.039l-1.71-3.894H2.5V11h1.06z"
					></path>
				</svg>
				<h2 class="mt-6">Markdown</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					це полегшена <strong>мова розмітки</strong>, яку можна
					використовувати для додавання елементів форматування до
					документів із відкритим текстом використовуючи простий
					текстовий формат
				</p>
			</div>
		</div>
		<div
			class="card w-full bg-base-100 shadow-xl 1bg-gradient-to-r from-purple-300 to-purple-400"
		>
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-git fill-current w-12 h-auto"
					viewBox="0 0 16 16"
				>
					<path
						d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.03 1.03 0 0 0 0-1.457"
					></path>
				</svg>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-github fill-current w-12 h-auto"
					viewBox="0 0 16 16"
				>
					<path
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
					></path>
				</svg>
				<h2 class="mt-6">Git & GitHub</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					<strong>Git</strong> — це безкоштовна розподілена система контролю
					версій із відкритим вихідним кодом. <br />
					<strong>GitHub</strong> — це платформа для розробників, яка дозволяє
					розробникам створювати, зберігати, керувати та ділитися своїм
					кодом.
				</p>
			</div>
		</div>
	</div>
</section>
