---
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
// Component Imports
import { Icon } from "astro-icon/components";
---

<section class="container mx-auto py-16">
	<h2 class="text-4xl mb-8">Technology stack of website</h2>
	<div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 gap-6">
		<div class="card w-full bg-base-100 drop-shadow-md">
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<Icon name="logos/astro" class="fill-current w-6 h-auto" />
				<h2 class="mt-6">Astro</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					<strong>веб-фреймворк</strong> який підтримує найшвидші у світі
					веб-сайти, веб-програми на стороні клієнта, динамічні кінцеві
					точки API та все між ними
				</p>
			</div>
		</div>
		<div class="card w-full bg-base-100 drop-shadow-md">
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<Icon
					name="logos/markdown"
					fill="currentColor"
					class="fill-current w-12 h-auto text-sky-500"
				/>
				<h2 class="mt-6">Markdown</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					полегшена <strong>мова розмітки</strong>, яку можна
					використовувати для додавання елементів форматування до
					документів із відкритим текстом використовуючи простий
					текстовий формат
				</p>
			</div>
		</div>
		<div class="card w-full bg-base-100 drop-shadow-md">
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<Icon
					name="logos/git"
					fill="currentColor"
					class="fill-current w-12 h-auto"
				/>
				<Icon
					name="logos/github"
					fill="currentColor"
					class="fill-current w-14 h-auto"
				/>
				<h2 class="mt-6">Git & GitHub</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					<strong>Git</strong> — безкоштовна розподілена система контролю
					версій із відкритим вихідним кодом. <br />
					<strong>GitHub</strong> — платформа для розробників, яка дозволяє
					розробникам створювати, зберігати, керувати та ділитися своїм
					кодом.
				</p>
			</div>
		</div>
		<div class="card w-full bg-base-100 drop-shadow-md">
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<Icon
					name="logos/node"
					fill="currentColor"
					class="fill-current w-14 h-auto"
				/>
				<Icon
					name="logos/npm"
					fill="currentColor"
					class="fill-current w-24 h-auto"
				/>
				<h2 class="mt-6">Node.js & npm</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					<strong>Node.js</strong> — кросплатформне середовище виконання
					JavaScript із відкритим кодом, яке працює в різних операційних
					системах та може виконувати код поза веб-браузером.
					<br />
					<strong>npm</strong> — менеджер пакетів для JavaScript за замовчуванням
					в середовищі Node.js.
				</p>
			</div>
		</div>
	</div>
</section>
