---

---

<section class="container mx-auto py-16">
	<h2 class="text-4xl mb-8">Technology stack of website</h2>
	<div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 gap-6">
		<div class="card w-full bg-base-100 drop-shadow-md">
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16.79"
					height="24"
					fill="currentColor"
					viewBox="0 0 256 366"
					class="fill-current w-6 h-auto"
				>
					<title>astro</title>
					<g>
						<path
							d="M182.021899,9.14729513 C185.003554,12.8489818 186.524039,17.8439599 189.565008,27.8338751 L256,246.07324 C231.437035,233.330949 204.734675,224.140955 176.574007,219.182711 L133.318122,73.008385 C132.610445,70.6165977 130.413371,68.9758488 127.919318,68.9758488 C125.41872,68.9758488 123.217965,70.625188 122.515605,73.0251566 L79.7837287,219.10908 C51.4921611,224.044826 24.6679819,233.251591 0,246.040106 L66.760821,27.7833559 C69.8111986,17.8106213 71.336592,12.8241926 74.3186562,9.1293373 C76.9509722,5.86739262 80.3752328,3.334082 84.2645972,1.77078902 C88.6701983,0 93.8845156,0 104.313559,0 L151.997135,0 C162.439677,0 167.660949,0 172.07064,1.77448285 C175.963277,3.34101561 179.389583,5.87945996 182.021899,9.14729513 Z"
						></path>
						<path
							d="M189.971616,256.459332 C179.019791,265.824405 157.15991,272.211095 131.980489,272.211095 C101.075831,272.211095 75.1731874,262.589949 68.2997134,249.65049 C65.8424761,257.066381 65.2914691,265.553606 65.2914691,270.975318 C65.2914691,270.975318 63.6724005,297.597911 82.1890151,316.114934 C82.1890151,306.499925 89.9836974,298.705652 99.598298,298.705652 C116.078191,298.705652 116.059783,313.083374 116.044648,324.748195 C116.044239,325.097534 116.04383,325.444828 116.04383,325.789258 C116.04383,343.494293 126.864755,358.671732 142.253679,365.069057 C139.955158,360.341524 138.665794,355.032714 138.665794,349.422424 C138.665794,332.536332 148.579419,326.249044 160.101068,318.941555 C169.268154,313.127552 179.453806,306.668049 186.473315,293.709774 C190.13565,286.948792 192.215323,279.204833 192.215323,270.975318 C192.215323,265.914399 191.429105,261.037149 189.971616,256.459332 Z"
							fill="#FF5D01"
							id="astro-fill"></path>
					</g>
				</svg>
				<h2 class="mt-6">Astro</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					<strong>веб-фреймворк</strong> який підтримує найшвидші у світі
					веб-сайти, веб-програми на стороні клієнта, динамічні кінцеві
					точки API та все між ними
				</p>
			</div>
		</div>
		<div class="card w-full bg-base-100 drop-shadow-md">
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-markdown-fill fill-current w-12 h-auto fill-sky-500"
					viewBox="0 0 16 16"
				>
					<path
						d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 1a.5.5 0 0 0-.5.5v3.793L9.854 8.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L12 9.293V5.5a.5.5 0 0 0-.5-.5M3.56 7.01h.056l1.428 3.239h.774l1.42-3.24h.056V11h1.073V5.001h-1.2l-1.71 3.894h-.039l-1.71-3.894H2.5V11h1.06z"
					></path>
				</svg>
				<h2 class="mt-6">Markdown</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					полегшена <strong>мова розмітки</strong>, яку можна
					використовувати для додавання елементів форматування до
					документів із відкритим текстом використовуючи простий
					текстовий формат
				</p>
			</div>
		</div>
		<div class="card w-full bg-base-100 drop-shadow-md">
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-git fill-current w-12 h-auto fill-orange-600"
					viewBox="0 0 16 16"
				>
					<path
						d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.03 1.03 0 0 0 0-1.457"
					></path>
				</svg>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-github fill-current w-12 h-auto"
					viewBox="0 0 16 16"
				>
					<path
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
					></path>
				</svg>
				<h2 class="mt-6">Git & GitHub</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					<strong>Git</strong> — безкоштовна розподілена система контролю
					версій із відкритим вихідним кодом. <br />
					<strong>GitHub</strong> — платформа для розробників, яка дозволяє
					розробникам створювати, зберігати, керувати та ділитися своїм
					кодом.
				</p>
			</div>
		</div>
		<div class="card w-full bg-base-100 drop-shadow-md">
			<div class="card-title p-8 pb-0 columns-2 gap-4">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="64"
					height="64"
					viewBox="0 0 32 32"
					fill="currentColor"
					class="w-12 h-auto fill-[#8cc84b]"
					><path
						d="M14.656.427c.8-.453 1.82-.455 2.6 0L29.2 7.16c.747.42 1.247 1.253 1.24 2.114v13.5c.005.897-.544 1.748-1.332 2.16l-11.88 6.702a2.6 2.6 0 0 1-2.639-.073l-3.565-2.06c-.243-.145-.516-.26-.688-.495.152-.204.422-.23.642-.32.496-.158.95-.4 1.406-.656.115-.08.256-.05.366.022l3.04 1.758c.217.125.437-.04.623-.145l11.665-6.583c.144-.07.224-.222.212-.38V9.334c.016-.18-.087-.344-.25-.417L16.19 2.244a.41.41 0 0 0-.465-.001L3.892 8.93c-.16.073-.27.235-.25.415v13.37c-.014.158.07.307.215.375l3.162 1.785c.594.32 1.323.5 1.977.265a1.5 1.5 0 0 0 .971-1.409l.003-13.29c-.014-.197.172-.36.363-.34h1.52c.2-.005.357.207.33.405L12.18 23.88c.001 1.188-.487 2.48-1.586 3.063-1.354.7-3.028.553-4.366-.12l-3.4-1.88c-.8-.4-1.337-1.264-1.332-2.16v-13.5a2.46 2.46 0 0 1 1.282-2.141L14.656.427zM18.1 9.785c1.727-.1 3.576-.066 5.13.785 1.203.652 1.87 2.02 1.892 3.358-.034.18-.222.28-.394.267-.5-.001-1.002.007-1.504-.003-.213.008-.336-.188-.363-.376-.144-.64-.493-1.273-1.095-1.582-.924-.463-1.996-.44-3.004-.43-.736.04-1.527.103-2.15.535-.48.328-.624 1-.453 1.522.16.383.603.506.964.62 2.082.544 4.287.5 6.33 1.207.845.292 1.672.86 1.962 1.745.378 1.186.213 2.604-.63 3.556-.684.784-1.68 1.2-2.675 1.442-1.323.295-2.695.302-4.038.17-1.263-.144-2.577-.476-3.552-1.336-.834-.724-1.24-1.852-1.2-2.94.01-.184.193-.312.37-.297h1.5c.202-.014.35.16.36.35.093.6.322 1.25.854 1.6 1.026.662 2.313.616 3.487.635.973-.043 2.065-.056 2.86-.7.42-.367.543-.98.43-1.508-.123-.446-.6-.653-1-.8-2.055-.65-4.285-.414-6.32-1.15-.826-.292-1.625-.844-1.942-1.693-.443-1.2-.24-2.687.693-3.607.9-.915 2.22-1.268 3.47-1.394z"
					></path></svg
				>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="540px"
					height="210px"
					viewBox="0 0 18 7"
					fill="currentColor"
					class="fill-current w-24 h-auto fill-red-600"
				>
					<path
						d="M0,0h18v6H9v1H5V6H0V0z M1,5h2V2h1v3h1V1H1V5z M6,1v5h2V5h2V1H6z M8,2h1v2H8V2z M11,1v4h2V2h1v3h1V2h1v3h1V1H11z"
					></path>
					<polygon
						fill="transparent"
						points="1,5 3,5 3,2 4,2 4,5 5,5 5,1 1,1 "></polygon>
					<path fill="transparent" d="M6,1v5h2V5h2V1H6z M9,4H8V2h1V4z"
					></path>
					<polygon
						fill="transparent"
						points="11,1 11,5 13,5 13,2 14,2 14,5 15,5 15,2 16,2 16,5 17,5 17,1 "
					></polygon>
				</svg>
				<h2 class="mt-6">Node.js & npm</h2>
			</div>
			<div class="card-body pt-0">
				<div class="divider m-0"></div>
				<p>
					<strong>Node.js</strong> — кросплатформне середовище виконання
					JavaScript із відкритим кодом, яке працює в різних операційних
					системах та може виконувати код поза веб-браузером.
					<br />
					<strong>npm</strong> — менеджер пакетів для JavaScript за замовчуванням
					в середовищі Node.js.
				</p>
			</div>
		</div>
	</div>
</section>
