---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

//Import header settings
import { headerSettings } from "../config";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

let { title, description } = Astro.props;

if (title === undefined) {
	title = headerSettings.websiteName;
} else {
	title = title + headerSettings.separator + headerSettings.websiteName;
}
if (description === undefined) {
	description = headerSettings.description;
} else {
	description = description;
}
---

<html lang="en">
	<head>
		<Head title={title} description={description} />
	</head>
	<body class="container mx-auto">
		<div class="flex flex-col min-h-screen prose max-w-none">
			<header>
				<Navbar />
			</header>
			<main class="mt-4 mb-16">
				<slot />
			</main>
			<footer>
				<Footer />
			</footer>
		</div>
	</body>
</html>
