---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

//Import header settings
import { headerSettings } from "../config";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

let { title, description } = Astro.props;

if (title === undefined) {
	title = headerSettings.websiteName;
} else {
	title = title + headerSettings.separator + headerSettings.websiteName;
}
if (description === undefined) {
	description = headerSettings.description;
} else {
	description = description;
}
---

<html lang="en" class="scroll-smooth">
	<head>
		<Head title={title} description={description} />
	</head>
	<body class="container1mx-auto">
		<div
			class="flex flex-col justify-between min-h-screen prose max-w-none relative"
		>
			<header
				class="top-0 left-0 w-full z-[1024] py-0 md:py-22 xs:h-64 lg:h-28 sticky1 shadow-md transition-all duration-300 opacity-100"
			>
				<Navbar />
			</header>
			<main class="container mx-auto mt-4 mb-16 px-2">
				<slot />
			</main>
			<footer class="bg-base-300 text-base-content">
				<Footer />
			</footer>
		</div>
	</body>
</html>
