---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
---

<html lang="en" data-theme="light">
	<head>
		<Header />
	</head>
	<body class="container mx-auto">
		<div class="prose max-w-none">
			<Navbar />
			<slot />
		</div>
	</body>
</html>
