---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

//Import header settings
import { headerSettings } from "../config";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

let { title, description } = Astro.props;

if (title === undefined) {
	title = headerSettings.websiteName;
} else {
	title = title + headerSettings.separator + headerSettings.websiteName;
}
if (description === undefined) {
	description = headerSettings.description;
} else {
	description = description;
}
---

<html lang="en" data-theme="light">
	<head>
		<Header title={title} description={description} />
	</head>
	<body class="container mx-auto">
		<div class="flex flex-col min-h-screen prose max-w-none">
			<Navbar />
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
